article {
	
	.entry-header {
		margin-bottom: 1em;

		h2 {
		}
		.entry-meta {
		}
	}

	.entry-content {
		.thumbnail {
			display: block;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
		}
		img {
			@include img-responsive();
			display: inline-block;
			padding: $thumbnail-padding;
			margin-bottom: $line-height-computed;
			line-height: $line-height-base;
			background-color: $thumbnail-bg;
			border: 1px solid $thumbnail-border;
			border-radius: $thumbnail-border-radius;
			@include transition(all .2s ease-in-out);
		}
	}

	.entry-footer {
		@extend .well;
		@extend .well-sm;
		margin-top: 1em;
	}

	.posted-on,
	.byline,
	.cat-links,
	.tags-links,
	.comments-link {
		display: inline-block;
		margin-right: 1em;
	}
}
