article {
	
	.entry-header {
		margin-bottom: 1em;

		h2 {
		}
		.entry-meta {
		}
	}

	.entry-content {
		.thumbnail {
			text-align: center;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.entry-footer {
		@extend .well;
		@extend .well-sm;
		margin-top: 1em;
	}

	.posted-on,
	.byline,
	.cat-links,
	.tags-links,
	.comments-link {
		display: inline-block;
		margin-right: 1em;
	}
}
